@echo off
setlocal

:: You can use this script to launch Clojure on Windows.

java -cp src;test;resources;dev-resources;target/classes;REPLACE_WITH_WINDOWS_JARS jline.ConsoleRunner clojure.main %*

endlocal
